.env*
.vscode
.venv
.DS_Store
secrets
cloud_sql_proxy
k8s/patches.yaml
*.pyc
gcs.json
venv/
.idea/
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
arkiv-downloader/arkiv_downloader/azcopy/*
