# Azurite files and data
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__blobstorage__
__queuestorage__

.env*
!.env.default
.vscode
.venv
.DS_Store
secrets
cloud_sql_proxy
k8s/patches.yaml
*.pyc
gcs.json
venv/
.idea/
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
arkiv-downloader/arkiv_downloader/azcopy/*
